<!doctype html>

<html>
	<head>
		<!-- Some meta tags !-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Loading jQuery !-->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

		<!-- Loading Bootstrap !-->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<!-- Loading local styling !-->
		<script type="application/javascript" src="js/<repme>pageName</repme>.js"></script>
		<link rel="stylesheet" href="css/<repme>pageName</repme>.css">

		<title>Stock Lookup</title>
	</head>

	<body>
		<div class="container col-md-8 col-md-offset-2">
			<h1 class="text-center">Stock Lookup</h1>
			<h5 class="text-center">By Crockeo</h5>

			<hr />