<h2 class="text-center">Information</h2>

<!-- Author !-->
<div class="row">
	<h3 class="col-md-4 col-md-offset-3">Author:</h3>
	<h3 class="col-md-5">Crockeo</h3>
</div>

<!-- Maintainer !-->
<div class="row">
	<h3 class="col-md-4 col-md-offset-3">Maintainer:</h3>
	<h3 class="col-md-5">Crockeo</h3>
</div>

<!-- Maintainer Email !-->
<div class="row">
	<h3 class="col-md-4 col-md-offset-3">Maintainer Email:</h3>
	<h3 class="col-md-5"><a href="mailto:crockeo@gmail.com">crockeo@gmail.com</a></h3>
</div>

<!-- Website !-->
<div class="row">
	<h3 class="col-md-4 col-md-offset-3">Website:</h3>
	<h3 class="col-md-5"><a href="http://github.com/Crockeo/StockLookup">Link</a></h3>
</div>